<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjxm.springbootinit.mapper.HomeworkMapper">

    <resultMap id="BaseResultMap" type="com.sjxm.springbootinit.model.entity.Homework">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="teacherId" column="teacher_id" jdbcType="BIGINT"/>
            <result property="isSighted" column="is_sighted" jdbcType="TINYINT"/>
            <result property="sightedTime" column="sighted_time" jdbcType="TIMESTAMP"/>
            <result property="classIdList" column="class_id_list" jdbcType="VARCHAR"/>
            <result property="studentIdList" column="student_id_list" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="totalNum" column="total_num" jdbcType="INTEGER"/>
            <result property="curNum" column="cur_num" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="TINYINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="resources" column="resources" jdbcType="VARCHAR"/>
            <result property="completeTime" column="complete_time" jdbcType="TIMESTAMP"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="completedStudentId" column="completed_student_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,teacher_id,is_sighted,
        sighted_time,class_id_list,student_id_list,
        type,total_num,cur_num,
        create_time,update_time,create_user,
        update_user,delete_flag,content,
        resources,complete_time,title,
        completed_student_id
    </sql>
</mapper>
