<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjxm.springbootinit.mapper.SubmitMapper">

    <resultMap id="BaseResultMap" type="com.sjxm.springbootinit.model.entity.Submit">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="homeworkId" column="homework_id" jdbcType="BIGINT"/>
            <result property="submitTime" column="submit_time" jdbcType="TIMESTAMP"/>
            <result property="correctTime" column="correct_time" jdbcType="TIMESTAMP"/>
            <result property="isCorrected" column="is_corrected" jdbcType="TINYINT"/>
            <result property="studentId" column="student_id" jdbcType="BIGINT"/>
            <result property="score" column="score" jdbcType="DECIMAL"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="updateUser" column="update_user" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="TINYINT"/>
            <result property="homeworkTitle" column="homework_title" jdbcType="VARCHAR"/>
            <result property="resources" column="resources" jdbcType="VARCHAR"/>
            <result property="subjectName" column="subject_name" jdbcType="VARCHAR"/>
            <result property="studentName" column="student_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,homework_id,submit_time,
        correct_time,is_corrected,student_id,
        score,comment,create_user,
        update_user,create_time,update_time,
        content,delete_flag
    </sql>

    <select id="myList" resultMap="BaseResultMap">
        SELECT
        s.id,
        s.homework_id,
        s.submit_time,
        s.correct_time,
        s.is_corrected,
        s.student_id,
        s.score,
        s.comment,
        s.create_user,
        s.update_user,
        s.create_time,
        s.update_time,
        s.content,
        s.resources,
        sub.title as subject_name,
        h.title as homework_title,
        ac.name as student_name
        FROM submit s
        LEFT JOIN homework h ON s.homework_id = h.id
        LEFT JOIN subject sub ON h.subject_id = sub.id
        LEFT JOIN account ac ON ac.account_id = s.student_id
        <where>
            s.delete_flag = 0
            <if test="input != null and input != ''">
                AND h.title LIKE concat('%', #{input}, '%')
            </if>
            <if test="status != null">
                AND s.is_corrected = #{status}
            </if>
            <if test="studentId != null">
                AND s.student_id = #{studentId}
            </if>
            <if test="teacherId != null">
                AND sub.teacher_id = #{teacherId}
            </if>
        </where>
        ORDER BY s.create_time DESC
    </select>
</mapper>
